<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>공동 구매 - 마이페이지</title>
  <link rel="icon" href="/static/shop/img/logo.ico" type="image/ico">
  <link rel="stylesheet" href="/static/shop/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/shop/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/static/shop/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/static/shop/vendors/linericon/style.css">
  <link rel="stylesheet" href="/static/shop/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/shop/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/shop/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/static/shop/vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="/static/shop/css/style.min.css">
</head>
<body>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="/home"><img src="/static/shop/img/공동구매logo.jpg" width="163" height="39" alt=""></a>
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav">
              <li class="nav-item"><a class="nav-link"></a></li>
              <li class="nav-item"><a class="nav-link" href="/home">홈</a></li>
              <li class="nav-item"><a class="nav-link" href="/post">게시글</a></li>
              <li class="nav-item active"><a class="nav-link" href="/mypage">마이페이지</a></li>
              <li class="nav-item"><a class="nav-link" href="/write">글쓰기</a></li>
            </ul>
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="/{{ url }}">{{ name_in }}</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">{{ name_out }}</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
	<!--================ End Header Menu Area =================-->

	<!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-150">
			<div class="blog-banner">
				<div class="text-center">
					<h1>나의 구매 신청 내역</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">확인 및 수정</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
<!-- ================ end banner area ================= -->

<!--================Cart Area =================-->

  <section class="cart_area">
      <div class="container">
          <div class="cart_inner">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">제품</th>
                              <th scope="col">가격</th>
                              <th scope="col">토탈 가격</th>
                              <th scope="col">개수</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <div class="media">
                                      <div class="d-flex">
                                        <a href = "single-product.html"><img src="/static/shop/img/cart/cart33.jpg" style="width: 150px; height: 150px; overflow: hidden" alt=""></a>
                                      </div>
                                      <div class="media-body">
                                          <a href = "single-product.html" style="color: #222;"><p>제티20개입</p></a><!-- (토레타 500ml) -->
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  <h5>개당 가격</h5>
                                  <h5>토탈 가격</h5>
                              </td>
                              <td>
                                  <h5>토탈 가격</h5>
                              </td>
                              <td>
                                  <div class="product_count">
                                      <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                          class="input-text qty">
                                      <button onclick="let result = document.getElementById('sst'); let sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                          class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                      <button onclick="let result = document.getElementById('sst'); let sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;"
                                          class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                  </div>
                              </td>
                              <td class="d-none-l">
                                  <div class="checkout_btn_inner d-flex align-items-center">
                                      <a class="primary-btn ml-2" href="#">적용하기</a>
                                  </div>
                              </td>
                      </tbody>
                      <tbody>
                          <tr>
                              <td>
                                  <div class="media">
                                      <div class="d-flex">
                                        <a href = "single-product.html"><img src="/static/shop/img/cart/cart33.jpg" style="width: 150px; height: 150px; overflow: hidden" alt=""></a>
                                      </div>
                                      <div class="media-body">
                                          <a href = "single-product.html" style="color: #222;"><p>제티20개입</p></a><!-- (토레타 500ml) -->
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  <h5>개당 가격</h5>
                              </td>
                              <td>
                                  <h5>토탈 가격</h5>
                              </td>
                              <td>
                                  <div class="product_count">
                                      <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                          class="input-text qty">
                                      <button onclick="let result = document.getElementById('sst'); let sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                          class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                      <button onclick="let result = document.getElementById('sst'); let sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;"
                                          class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                  </div>
                              </td>
                              <td class="d-none-l">
                                  <div class="checkout_btn_inner d-flex align-items-center">
                                      <a class="primary-btn ml-2" href="#">적용하기</a>
                                  </div>
                              </td>
                          <tr class="out_button_area">
                              <td>
                                  <div class="checkout_btn_inner d-flex align-items-center">
                                      <a class="primary-btn ml-2" href="#">적용하기</a>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
  <!--================End Cart Area =================-->

  <script src="/static/shop/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/static/shop/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/static/shop/vendors/skrollr.min.js"></script>
  <script src="/static/shop/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/static/shop/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="/static/shop/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="/static/shop/vendors/mail-script.js"></script>
  <script src="/static/shop/js/main.js"></script>
</body>
</html>